# Spot-a-Shop

### Limpieza de datos del dataset de licencias del Ayuntamiento de Madrid para filtrar, dentro del barrio de Tetuán (barrio elegido para para la presentación de la webapp) los establecimientos abiertos que cumplen las características que buscábamos.

In [ ]:
import pandas as pd

In [ ]:
places = pd.read_csv('OPEN DATA Locales-Epigrafes202007.csv', sep=';', encoding = "ISO-8859-1" )
places.head()

,id_local,id_distrito_local,desc_distrito_local,id_barrio_local,desc_barrio_local,cod_barrio_local,id_seccion_censal_local,desc_seccion_censal_local,coordenada_x_local,coordenada_y_local,...,desc_tipo_agrup,id_planta_agrupado,id_local_agrupado,rotulo,id_seccion,desc_seccion,id_division,desc_division,id_epigrafe,desc_epigrafe
0,270570238,20,SAN BLAS-CANILLEJAS,2005,ROSAS,NaN,NaN,67,"449113,502102008","4476287,16186507",...,Pasaje comercial,01,SWSK,(SW) SKYBOX PANTRY,I,HOSTELERIA,56,SERVICIOS DE COMIDAS Y BEBIDAS,561004,BAR RESTAURANTE
1,270570239,20,SAN BLAS-CANILLEJAS,2005,ROSAS,NaN,NaN,67,"449093,857488781","4476380,46782237",...,Pasaje comercial,01,EBB1,E. BOX BAR 1,I,HOSTELERIA,56,SERVICIOS DE COMIDAS Y BEBIDAS,561004,BAR RESTAURANTE
2,270570248,20,SAN BLAS-CANILLEJAS,2005,ROSAS,NaN,NaN,67,"449184,311900073","4476472,14613072",...,Pasaje comercial,01,NEBP,(NE) BOX PANTRY,I,HOSTELERIA,56,SERVICIOS DE COMIDAS Y BEBIDAS,561004,BAR RESTAURANTE
3,270570265,20,SAN BLAS-CANILLEJAS,2005,ROSAS,NaN,NaN,67,0,0,...,Pasaje comercial,01,SWSP,(SW) SERVICE PANTRY,I,HOSTELERIA,56,SERVICIOS DE COMIDAS Y BEBIDAS,561004,BAR RESTAURANTE
4,270570270,20,SAN BLAS-CANILLEJAS,2005,ROSAS,NaN,NaN,67,"449118,562798081","4476267,71909328",...,Pasaje comercial,02,WB41,(W) B4 1,I,HOSTELERIA,56,SERVICIOS DE COMIDAS Y BEBIDAS,561002,RESTAURANTES DE COMIDA RAPIDA

In [ ]:
places.info()  # Hay columnas aparentemente importantes que están vacias

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163911 entries, 0 to 163910
Data columns (total 46 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   id_local                   163911 non-null  int64
 1   id_distrito_local          163911 non-null  int64
 2   desc_distrito_local        163911 non-null  object
 3   id_barrio_local            163911 non-null  int64
 4   desc_barrio_local          163911 non-null  object
 5   cod_barrio_local           0 non-null       float64
 6   id_seccion_censal_local    0 non-null       float64
 7   desc_seccion_censal_local  163911 non-null  int64
 8   coordenada_x_local         163911 non-null  object
 9   coordenada_y_local         163911 non-null  object
 10  id_tipo_acceso_local       0 non-null       float64
 11  desc_tipo_acceso_local     163911 non-null  object
 12  id_situacion_local         0 non-null       float64
 13  desc_situacion_local       163911 non-null  object
 14  id_vial_edificio           163911 non-null  int64
 15  clase_vial_edificio        163911 non-null  object
 16  desc_vial_edificio         163911 non-null  object
 17  id_ndp_edificio            163911 non-null  int64
 18  id_clase_ndp_edificio      163911 non-null  int64
 19  nom_edificio               163911 non-null  object
 20  num_edificio               163911 non-null  int64
 21  cal_edificio               163911 non-null  object
 22  secuencial_local_PC        163911 non-null  int64
 23  id_vial_acceso             0 non-null       float64
 24  clase_vial_acceso          163911 non-null  object
 25  desc_vial_acceso           163911 non-null  object
 26  id_ndp_acceso              163911 non-null  int64
 27  id_clase_ndp_acceso        163911 non-null  int64
 28  nom_acceso                 163911 non-null  object
 29  num_acceso                 163911 non-null  int64
 30  cal_acceso                 163911 non-null  object
 31  coordenada_x_agrupacion    15673 non-null   object
 32  coordenada_y_agrup         15673 non-null   object
 33  id_agrupacion              15673 non-null   float64
 34  nombre_agrupacion          15673 non-null   object
 35  id_tipo_agrup              15673 non-null   float64
 36  desc_tipo_agrup            15673 non-null   object
 37  id_planta_agrupado         160983 non-null  object
 38  id_local_agrupado          15586 non-null   object
 39  rotulo                     163911 non-null  object
 40  id_seccion                 122909 non-null  object
 41  desc_seccion               122909 non-null  object
 42  id_division                122909 non-null  object
 43  desc_division              122909 non-null  object
 44  id_epigrafe                122909 non-null  object
 45  desc_epigrafe              122906 non-null  object
dtypes: float64(7), int64(12), object(27)
memory usage: 57.5+ MB

In [ ]:
# examinamos barrios
places['desc_distrito_local'].value_counts()

CENTRO                  14454
CARABANCHEL             13471
CIUDAD LINEAL           12009
PUENTE DE VALLECAS      11666
TETUAN                  10567
LATINA                  10488
SALAMANCA                9460
FUENCARRAL-EL PARDO      8518
CHAMBERI                 8459
VILLAVERDE               7822
CHAMARTIN                7687
HORTALEZA                6998
ARGANZUELA               6613
SAN BLAS-CANILLEJAS      6400
USERA                    6321
VILLA DE VALLECAS        5508
MONCLOA-ARAVACA          5413
RETIRO                   4629
MORATALAZ                2874
VICALVARO                2280
BARAJAS                  2274
Name: desc_distrito_local, dtype: int64

In [ ]:
# examinamos grupos
places['desc_seccion'].value_counts()

COMERCIO AL POR MAYOR Y AL POR MENOR; REPARACI0N DE VEHICULOS DE MOTOR Y MOTOCICLETAS     50519
HOSTELERIA                                                                                21524
OTROS SERVICIOS                                                                           13550
EDUCACI0N                                                                                  5043
ACTIVIDADES SANITARIAS Y DE SERVICIOS SOCIALES                                             4795
ACTIVIDADES ADMINISTRATIVAS Y SERVICIOS AUXLIARES                                          3597
ACTIVIDADES ARTISTICAS, RECREATIVAS Y DE ENTRETENIMIENTO                                   3321
INDUSTRIA MANUFACTURERA                                                                    3318
ACTIVIDADES PROFESIONALES, CIENTIFICAS Y TECNICAS                                          3071
TRANSPORTE Y ALMACENAMIENTO                                                                3032
CONSTRUCCI0N                                                                               3003
ACTIVIDADES FINANCIERAS Y DE SEGUROS                                                       2771
INFORMACI0N Y COMUNICACIONES                                                               1939
SIN ACTIVIDAD                                                                              1254
ACTIVIDADES INMOBILIARIAS                                                                  1064
ADMINISTRACI0N PUBLICA Y DEFENSA; SEGURIDAD SOCIAL OBLIGATORIA                              737
ACTIVIDADES DE ORGANIZACIONES Y ORGANISMOS EXTRATERRITORIALES                               165
SUMINISTRO DE ENERGIA ELECTRICA, GAS, VAPOR Y AIRE ACONDICIONADO                            115
SUMINISTRO DE AGUA, ACTIVIDADES DE SANEAMIENTO, GESTI0N DE RESIDUOS Y DESCONTAMINACI0N       72
AGRICULTURA, GANADERIA, SILVICULTURA Y PESCA                                                 12
INDUSTRIAS EXTRACTIVAS                                                                        4
47                                                                                            2
56                                                                                            1
Name: desc_seccion, dtype: int64

In [ ]:
tetuan = places.copy()

In [ ]:
# tras intentos fallidos de seleccionar el barrio con boleano y no conseguirlo (tipo de codificación)?, lo consigo con el principio del str
tetuan = tetuan.loc[tetuan['desc_distrito_local'].str.startswith('T')]

In [ ]:
# Nos quedamos solo con las secciones uqe incluyen los tipos de establecimieto que buscamos
tetuan = tetuan.loc[tetuan['desc_seccion'].isin(['COMERCIO AL POR MAYOR Y AL POR MENOR; REPARACI0N DE VEHICULOS DE MOTOR Y MOTOCICLETAS', 'HOSTELERIA'])]
tetuan

,id_local,id_distrito_local,desc_distrito_local,id_barrio_local,desc_barrio_local,cod_barrio_local,id_seccion_censal_local,desc_seccion_censal_local,coordenada_x_local,coordenada_y_local,...,desc_tipo_agrup,id_planta_agrupado,id_local_agrupado,rotulo,id_seccion,desc_seccion,id_division,desc_division,id_epigrafe,desc_epigrafe
9,270436507,6,TETUAN,602,CUATRO CAMINOS,NaN,NaN,29,0,0,...,Centro Comercial,PB,6,SOLOPTICAL,G,COMERCIO AL POR MAYOR Y AL POR MENOR; REPARACI...,47,"COMERCIO AL POR MENOR, EXCEPTO DE VEHICULOS DE...",477806,COMERCIO AL POR MENOR DE MATERIAL DE OPTICA
76,270438555,6,TETUAN,602,CUATRO CAMINOS,NaN,NaN,35,"440391,6","4477987,54",...,NaN,PB,NaN,DECORARTE PINTURAS SL,G,COMERCIO AL POR MAYOR Y AL POR MENOR; REPARACI...,47,"COMERCIO AL POR MENOR, EXCEPTO DE VEHICULOS DE...",475201,COMERCIO AL POR MENOR DE ARTICULOS DE FERRETERIA
113,270439661,6,TETUAN,604,ALMENARA,NaN,NaN,75,"441382,61","4480179,53",...,NaN,PB,NaN,EMBUTIDOS SALAMANCA,G,COMERCIO AL POR MAYOR Y AL POR MENOR; REPARACI...,47,"COMERCIO AL POR MENOR, EXCEPTO DE VEHICULOS DE...",472911,OTRO COMERCIO AL POR MENOR DE PRODUCTOS ALIMEN...
116,270439708,6,TETUAN,605,VALDEACEDERAS,NaN,NaN,126,0,0,...,Galeria de Alimentacion,PB,2,LOS MARES ...,G,COMERCIO AL POR MAYOR Y AL POR MENOR; REPARACI...,47,"COMERCIO AL POR MENOR, EXCEPTO DE VEHICULOS DE...",472102,COMERCIO AL POR MENOR DE FRUTAS Y HORTALIZAS S...
177,270441814,6,TETUAN,602,CUATRO CAMINOS,NaN,NaN,43,"440508,61","4478322,54",...,NaN,PB,NaN,HOSTAL FALFE,I,HOSTELERIA,55,SERVICIOS DE ALOJAMIENTO,551003,HOSTALES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163608,290000375,6,TETUAN,603,CASTILLEJOS,NaN,NaN,70,"441198,61","4479306,53",...,NaN,PB,NaN,EL ZOQUITO,I,HOSTELERIA,56,SERVICIOS DE COMIDAS Y BEBIDAS,561005,BAR CON COCINA
163611,290000381,6,TETUAN,602,CUATRO CAMINOS,NaN,NaN,42,"440486,6","4478256,54",...,NaN,PB,NaN,SONAR BANGLA,G,COMERCIO AL POR MAYOR Y AL POR MENOR; REPARACI...,47,"COMERCIO AL POR MENOR, EXCEPTO DE VEHICULOS DE...",472911,OTRO COMERCIO AL POR MENOR DE PRODUCTOS ALIMEN...
163612,290000386,6,TETUAN,602,CUATRO CAMINOS,NaN,NaN,37,"440738,6","4478022,53",...,NaN,PB,NaN,SR,I,HOSTELERIA,56,SERVICIOS DE COMIDAS Y BEBIDAS,561001,RESTAURANTE
163613,290000392,6,TETUAN,605,VALDEACEDERAS,NaN,NaN,126,"440898,61","4479613,54",...,NaN,PB,NaN,CRISTALERIAS MUÑOZ,G,COMERCIO AL POR MAYOR Y AL POR MENOR; REPARACI...,47,"COMERCIO AL POR MENOR, EXCEPTO DE VEHICULOS DE...",475907,COMERCIO AL POR MENOR DE ARTICULOS DE USO DOME...
163616,290000407,6,TETUAN,602,CUATRO CAMINOS,NaN,NaN,33,0,0,...,Mercado Municipal,PB,C203,NOMADE GRILL,I,HOSTELERIA,56,SERVICIOS DE COMIDAS Y BEBIDAS,561005,BAR CON COCINA

In [ ]:
# Elegimos solo los que eaparecen abiertos
tetuan = tetuan[tetuan['desc_situacion_local'] == 'Abierto']
tetuan.shape

(3832, 46)

In [ ]:
# Nos quedamos con las columnas que necesitamos
tetuan = tetuan[['id_local', 'coordenada_x_local', 'coordenada_x_local', 'desc_vial_edificio', 'id_ndp_edificio', 'num_edificio', 'rotulo','id_epigrafe', 'desc_epigrafe']]
tetuan

,id_local,coordenada_x_local,coordenada_x_local,desc_vial_edificio,id_ndp_edificio,num_edificio,rotulo,id_epigrafe,desc_epigrafe
9,270436507,0,0,GENERAL PERON ...,31053614,40,SOLOPTICAL,477806,COMERCIO AL POR MENOR DE MATERIAL DE OPTICA
76,270438555,"440391,6","440391,6",JAEN ...,11029505,2,DECORARTE PINTURAS SL,475201,COMERCIO AL POR MENOR DE ARTICULOS DE FERRETERIA
113,270439661,"441382,61","441382,61",MAGNOLIAS ...,11031729,69,EMBUTIDOS SALAMANCA,472911,OTRO COMERCIO AL POR MENOR DE PRODUCTOS ALIMEN...
116,270439708,0,0,TORRIJOS ...,11033916,5,LOS MARES ...,472102,COMERCIO AL POR MENOR DE FRUTAS Y HORTALIZAS S...
177,270441814,"440508,61","440508,61",JUAN DE OLIAS ...,11029896,15,HOSTAL FALFE,551003,HOSTALES
...,...,...,...,...,...,...,...,...,...
159142,290000395,"440116,61","440116,61",CARMEN PORTONES ...,11037040,13,JAFERCAR,451002,COMERCIO DE VEHICULOS DE MOTOR USADOS
163608,290000375,"441198,61","441198,61",ROSARIO PINO ...,11030968,18,EL ZOQUITO,561005,BAR CON COCINA
163611,290000381,"440486,6","440486,6",AVILA ...,11029805,11,SONAR BANGLA,472911,OTRO COMERCIO AL POR MENOR DE PRODUCTOS ALIMEN...
163613,290000392,"440898,61","440898,61",CAPITAN BLANCO ARGIBAY ...,11033842,20,CRISTALERIAS MUÑOZ,475907,COMERCIO AL POR MENOR DE ARTICULOS DE USO DOME...
163616,290000407,0,0,BRAVO MURILLO ...,11029404,122,NOMADE GRILL,561005,BAR CON COCINA

In [ ]:
tetuan.desc_epigrafe.value_counts()

BAR RESTAURANTE                                                                                     266
COMERCIO AL POR MENOR DE PRENDAS DE VESTIR EN ESTABLECIMIENTOS ESPECIALIZADOS                       201
BAR CON COCINA                                                                                      201
RESTAURANTE                                                                                         178
CAFETERIA                                                                                           170
                                                                                                   ...
COMERCIO AL POR MAYOR DE ENVASES Y EMBALAJES                                                          1
INTERMEDIARIO DEL COMERCIO DE PRODUCTOS ALIMENTICIOS, BEBIDAS Y TABACO                                1
COMERCIO AL POR MENOR DE PRODUCTOS AUDIOVISUALES EN ESTABLECIMIENTOS ESPECIALIZADOS (CD,DVD,â¦)      1
COMERCIO AL POR MAYOR DE OTROS ARTICULOS DE USO DOMESTICO N.C.O.P.                                    1
COMERCIO AL POR MAYOR DE COMBUSTIBLES, QUIMICOS Y PRODUCTOS SEMIELABORADOS                            1
Name: desc_epigrafe, Length: 148, dtype: int64

In [ ]:
tetuan['id_epigrafe'].value_counts()

561004      182
561005      141
477101      124
561001      123
561006      111
           ...
463201.0      1
463905        1
463101        1
563003.0      1
475906.0      1
Name: id_epigrafe, Length: 268, dtype: int64

In [ ]:
tetuan.loc[tetuan['id_epigrafe'] == 471103] # valorar tiendas de conveniencia

Empty DataFrame
Columns: [id_local, coordenada_x_local, coordenada_x_local, desc_vial_edificio, id_ndp_edificio, num_edificio, rotulo, id_epigrafe, desc_epigrafe]
Index: []

In [ ]:
tetuan.loc[tetuan['id_epigrafe'] == 472906] # valorar tiendas de golosinas

Empty DataFrame
Columns: [id_local, coordenada_x_local, coordenada_x_local, desc_vial_edificio, id_ndp_edificio, num_edificio, rotulo, id_epigrafe, desc_epigrafe]
Index: []

In [ ]:
# Nos quedamos con las descripciones de epígrafe que contienen palabras clave
L = ['ferre', 'pan', 'frutas', 'papel', 'platos', 'secos', 'golo']
pat = r'(\b{}\b)'.format('|'.join(L))
tetuan_final = tetuan[tetuan["desc_epigrafe"].str.contains(pat, case=False, na=False)]

In [ ]:
tetuan_final.desc_epigrafe.value_counts()

COMERCIO AL POR MENOR DE FRUTAS Y HORTALIZAS SIN OBRADOR                                           120
ESTABLECIMIENTOS DE VENTA DE PLATOS PREPARADOS CON OBRADOR                                          71
COMERCIO AL POR MENOR DE PAN Y PRODUCTOS DE PANADERIA Y BOLLERIA CON OBRADOR                        68
COMERCIO AL POR MENOR DE PAN Y PRODUCTOS DE PANADERIA Y BOLLERIA SIN OBRADOR                        45
COMERCIO AL POR MENOR DE ARTICULOS DE FERRETERIA                                                    35
COMERCIO AL POR MENOR DE PERIODICOS, REVISTAS Y ARTICULOS DE PAPELERIA                              34
COMERCIO AL POR MENOR DE FRUTOS SECOS Y VARIANTES                                                   30
COMERCIO AL POR MENOR DE FRUTAS Y HORTALIZAS CON OBRADOR                                            22
COMERCIO AL POR MAYOR DE METALES FERREOS Y NO FERREOS, MATERIAL DE CONSTRUCCION, PAPEL Y CARTON     17
ESTABLECIMIENTOS DE VENTA DE PLATOS PREPARADOS SIN OBRADOR                                          13
COMERCIO AL POR MAYOR DE LIBROS, PERIODICOS, REVISTAS, PAPELERIA Y ESCRITORIO                        3
COMERCIO AL POR MAYOR DE PLATOS PREPARADOS Y COCINADOS                                               2
COMERCIO AL POR MAYOR FRUTAS, VERDURAS Y DERIVADOS                                                   1
Name: desc_epigrafe, dtype: int64

In [ ]:
tetuan_final['id_epigrafe'].value_counts() # Epígrafes del índice de la comunidad

472102      82
472401      49
472407      40
472102.0    38
472402      31
472407.0    31
475201      22
472907      21
472401.0    19
476201      18
472101      17
476201.0    16
472402.0    14
475201.0    13
467001      13
472406      11
472907.0     9
472101.0     5
467001.0     4
464902.0     2
463901.0     2
472406.0     2
464902       1
463101       1
Name: id_epigrafe, dtype: int64

In [ ]:
# Eliminamos las que sobran según nuestras preferencias con las descripciones de epígrafe que contienen estas palabras clave
N = ['metales', 'mayor']
pat = r'(\b{}\b)'.format('|'.join(N))
tetuan_final = tetuan_final[~tetuan_final["desc_epigrafe"].str.contains(pat, case=False, na=False)]

In [ ]:
# Selección final de tipos de negocios que se decidieron previamente 
tetuan_final.desc_epigrafe.value_counts()

COMERCIO AL POR MENOR DE FRUTAS Y HORTALIZAS SIN OBRADOR                        120
ESTABLECIMIENTOS DE VENTA DE PLATOS PREPARADOS CON OBRADOR                       71
COMERCIO AL POR MENOR DE PAN Y PRODUCTOS DE PANADERIA Y BOLLERIA CON OBRADOR     68
COMERCIO AL POR MENOR DE PAN Y PRODUCTOS DE PANADERIA Y BOLLERIA SIN OBRADOR     45
COMERCIO AL POR MENOR DE ARTICULOS DE FERRETERIA                                 35
COMERCIO AL POR MENOR DE PERIODICOS, REVISTAS Y ARTICULOS DE PAPELERIA           34
COMERCIO AL POR MENOR DE FRUTOS SECOS Y VARIANTES                                30
COMERCIO AL POR MENOR DE FRUTAS Y HORTALIZAS CON OBRADOR                         22
ESTABLECIMIENTOS DE VENTA DE PLATOS PREPARADOS SIN OBRADOR                       13
Name: desc_epigrafe, dtype: int64

In [ ]:
tetuan_final

,id_local,coordenada_x_local,coordenada_x_local,desc_vial_edificio,id_ndp_edificio,num_edificio,rotulo,id_epigrafe,desc_epigrafe
76,270438555,"440391,6","440391,6",JAEN ...,11029505,2,DECORARTE PINTURAS SL,475201,COMERCIO AL POR MENOR DE ARTICULOS DE FERRETERIA
116,270439708,0,0,TORRIJOS ...,11033916,5,LOS MARES ...,472102,COMERCIO AL POR MENOR DE FRUTAS Y HORTALIZAS S...
3037,270472079,"440079,61","440079,61",FRANCOS RODRIGUEZ ...,11028527,35,PINTURAS IRIS,475201,COMERCIO AL POR MENOR DE ARTICULOS DE FERRETERIA
3047,270472438,"441440,6","441440,6",CASTELLANA ...,11030641,123,RODILLA,472407,ESTABLECIMIENTOS DE VENTA DE PLATOS PREPARADOS...
3535,270479173,"440336,61","440336,61",NAVARRA ...,11028740,7,CHURRERIA PEPITA,472907,COMERCIO AL POR MENOR DE FRUTOS SECOS Y VARIANTES
...,...,...,...,...,...,...,...,...,...
147069,285009266,"441599,61","441599,61",CASTELLANA ...,11031843,207,FRUTERIA HERMANOS ALCANTARILLA,472102,COMERCIO AL POR MENOR DE FRUTAS Y HORTALIZAS S...
147086,285009316,"441593,61","441593,61",MAGNOLIAS ...,11031998,120,WILSON CHRISTIAN,472407,ESTABLECIMIENTOS DE VENTA DE PLATOS PREPARADOS...
147157,285009650,"440639,61","440639,61",CLAVELINAS ...,11033440,2,PLATOS PREPARADOS,472406,ESTABLECIMIENTOS DE VENTA DE PLATOS PREPARADOS...
147180,285009724,"440869,61","440869,61",PINOS ALTA ...,11033704,51,ROTULO NO INFORMADO,475201,COMERCIO AL POR MENOR DE ARTICULOS DE FERRETERIA
147789,285011081,"440782,61","440782,61",SOR ANGELA DE LA CRUZ ...,20090643,43,LA CAZUELA DE SALAMANCA,472407,ESTABLECIMIENTOS DE VENTA DE PLATOS PREPARADOS...